.cardWrapper {
  width: 650px;

  background: rgb(255, 255, 255);
  margin-inline: auto;

  ul {
    li:first-child {
      box-shadow: 0px 0px 30px 0px rgba(55, 69, 172, 0.15);
      border-radius: 20px 20px 0px 0px;

      p {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        color: rgb(22, 53, 86);
      }
    }

    li {
      border-bottom: 1px solid rgb(191, 203, 216);
      &:not(:first-child) {
        &:hover{
            background-color: rgb(219, 218, 218);
        }
      }

      &:hover {
        img {
          filter: invert(36%) sepia(17%) saturate(681%) hue-rotate(167deg)
            brightness(92%) contrast(88%);
        }
      }

      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        text-decoration: none;
        color: rgb(36, 65, 95);
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
      }
    }
  }

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-left: 50px;
    margin-top: 16px;
  }
}
