.cardWrapper {
  width: 420px;

  background: rgb(255, 255, 255);
  margin-inline: auto;

  ul {
    div {
      min-height: 60px;
      border-radius: 20px 20px 0px 0px;
      box-shadow: 0px 0px 30px 0px rgba(55, 69, 172, 0.15);
      background: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 2.4px;
        text-transform: uppercase;
      }
    }

    li {
      border-bottom: 1px solid rgb(191, 203, 216);
      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        text-decoration: none;
        color: rgb(36, 65, 95);
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        p {
          font-size: 20px;
          font-weight: 700;
          line-height: 30px;
        }

        &:hover {
          img {
            filter: invert(36%) sepia(17%) saturate(681%) hue-rotate(167deg)
              brightness(92%) contrast(88%);
          }
        }
      }
    }
  }

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-left: 50px;
    margin-top: 16px;
  }
}
