@import "@/styles/variables.module.scss";
.changePasswordFormWrapper {
  .innerWrapper {
    background: white;
    width: 100%;
    padding:40px 50px;
    border-radius: 16px;
    box-shadow: -1px 7px 31px 0px rgba(0,0,0,0.11);
    position: relative;
    z-index: 11;
    margin: 0 0 25px 0;
    @media (max-width: 768px) {
      padding:35px 25px;
      margin: 0 0 20px 0;
    }

    .formRow {
      flex-wrap: wrap;
      margin-bottom: 0;
      div:last-of-type {
        margin-top: 25px;
        margin-left: auto;
        @media (max-width: 992px) {
          margin-top: 0;
        }
      }
    }

  }

  .buttonWrapper {
    text-align: center;
    padding-top: 15px;
    button {
      border: none;
      min-width:200px;
      display: inline-block;
      cursor: pointer;
      background: $cPrimary;
      color: white;
      @media (max-width: 768px) {
       min-width: 100%;
      }
       img {
         filter: brightness(0) invert(100%);
         width: 15px;
         height: 12px;
       }

      &:hover {
        background: $cPrimaryDark;
      }
    }
  }
}