@import "../../../styles/variables.module.scss";

ul.iconList {
  li {
    color: $cPrimaryDark;
    font-size: 14px;
    padding-bottom: 20px;
    position: relative;
    padding-left: 35px;
    &:before {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
      top:0;
      background: url("/icons/ico_checkmark.svg")center/contain no-repeat;
    }
    span {
      display: block;
      font-weight: 600;
      font-size: 15px;
      padding-bottom: 5px;
    }
  }
}