.cardWrapper {
  position: relative;
  background: white;
  min-height: 126px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(232, 236, 239);

  &:hover {
    background: rgb(247, 248, 250);

    .buttonsWrapper {
      background-color: white;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      transition: all 0.3s ease-in-out;

      &::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background: rgb(247, 248, 250);
        top: 52%;
        transform: translateY(-50%) rotate(45deg) translateX(-50%);
        left: -3px;
        z-index: 10;
        border-top: 1px solid rgb(232, 236, 239);
        border-right: 1px solid rgb(232, 236, 239);
       
      }

      @media (max-width: 890px) {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top: 1px solid rgb(232, 236, 239);
        border-left: none;
        border-right: none;
        border-bottom: none;

        &::before {
          left: 45%;
          top: 0;
          transform: translateY(-18%) rotate(135deg) translateX(-50%);
        }
      }
    }
  }

  @media (max-width: 890px) {
    flex-direction: column;
    gap: 20px;

    max-width: fit-content;
  }

  span {
    display: inline-block;
  }

  .contentWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 64%;

    @media (max-width: 890px) {
      padding: 20px;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
  }

  .infoWrapper {
    display: flex;
    align-items: center;
    gap: 39px;

    @media (max-width: 890px) {
      margin-left: 0;
    }

    .imageWrapper {
      border: 4px solid rgb(255, 255, 255);
      box-shadow: 0px 0px 30px 0px rgba(55, 69, 172, 0.2);
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 50%;

      img {
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .dataWrapper {
      display: flex;
      flex-direction: column;
      flex-basis: 276px;
    }
  }

  .statusWrapper {
    display: flex;
    flex-direction: column;
    gap: 11px;

    span:first-child {
      width: 100px;
      height: 20px;
      border: 1px solid rgb(118, 172, 56);
      border-radius: 10px;
      color: rgb(118, 172, 56);

      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0px;
      text-align: center;
      text-transform: uppercase;
    }

    span:last-child {
      width: 174px;
      border: 1px solid rgb(233, 167, 73);
      border-radius: 10px;

      color: rgb(233, 167, 73);
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .buttonsWrapper {
    position: relative;
    top: 0;
    right: 0;
    min-width: 36%;
    min-height: 126px;
    display: flex;
    justify-content: space-evenly;
    border-left: 1px solid rgb(232, 236, 239);

    @media (max-width: 890px) {
      border-left: none;
      width: 100%;
      border-top: 1px solid rgb(232, 236, 239);
      gap: 20px;
      left: 0;
    }

    button {
      position: relative;
      border: none;
      background-color: transparent;
      cursor: pointer;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 24px;
        height: 15px;
        border-radius: 7.48px;
        background: rgb(234, 1, 73);
        color: white;
        top: 40px;
        right: -15px;
        font-size: 9px;
      }
    }
  }
}
